# Virtual environments
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution
*.egg
*.egg-info/
dist/
build/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Env files
.env

# IDE
.vscode/
.idea/

# Temp
TODO.md

